# MongoDB Configuration
MONGODB_URI=mongodb+srv://irfanhuda2000:XgiLSdg3ECCnajGG@cluster0.6wdwjrd.mongodb.net/

# JWT Secret for authentication
JWT_SECRET=2d4e2e812f096d6c3146bebcc8f28b9a4c5794bc

# Server Port
PORT=5000

ADMIN_EMAIL=admin@tuitionhub.com
ADMIN_PASSWORD=admin123
